/* infos.module.css */

.container {
   margin-top: 200px;
 }
 
 .title {
   padding-left: 200px;
   color: rgb(56 192 60);
   font-family: verdana;
   font-weight: bold;
 }
 
 .paragraph-container {
   display: flex;
   margin: 60px;
 }
 
 .paragraph {
   padding: 20px;
   font-weight: bold;
   font-size: 30px;
   color: #334389;
 }
 
 .image {
   width: 500px;
   height: 200px;
 }
 
 .services-container {
   background-color: #334389;
   padding: 100px;
   height: 400px;
 }
 
 .services-title {
   color: rgb(56 192 60);
   font-family: verdana;
   font-weight: bold;
 }
 
 .services-list {
   font-weight: bold;
   color: white;
   display: flex;
   gap: 120px;
   padding-top: 42px;
 }
 
 .facility-container {
   background-color: #f5f5f5;
 }
 
 .facility-title {
   color: rgb(56 192 60);
   font-family: verdana;
   font-weight: bold;
   padding-left: 120px;
   padding-top: 170px;
   margin-bottom: -70px;
 }
 
 .facility-paragraph {
   padding: 20px;
   font-weight: bold;
   font-size: 30px;
   color: #334389;
 }
 